<!-- takes care of messages when re-directing to a link -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

{% endif %}
{% endwith %}

<!-- takes care of messages when there is an error -->
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<!-- takes care of messages when success -->
{% if msg %}
<div class="alert alert-success">{{ msg }}</div>
{% endif %}